<launch>
  <!-- VREP -->
  <node pkg="aliencontrol" type="aliencontrol" name="aliencontrol_vrep">
    <param name="cmd" value="'whoami'; 'pwd'; echo 'Attempting vrep -h'; /opt/VREP/vrep.sh -h"/>
  </node>

  <!-- RVIZ -->
  <node pkg="aliencontrol" type="aliencontrol" name="aliencontrol_rviz">
    <param name="cmd" value="echo 'Attempting rviz'; rviz"/>
  </node>

  <!-- The DRIVE controller -->
  <node name="map_server" pkg="occupancy_grid" type="map_server" />
  <include file="$(find description)/launch/load_robot_and_arena.launch" />
  <!--<node name="path_planner_node" pkg="path_planner" type="path_planner_node" />-->
  <node name="position_controller" pkg="drive_controller" type="drive_controller_master">
    <param name="simulating_driving" type="bool" value="true"/>
    <param name="localization_settle_time" type="double" value="5"/>
  </node>

  <!-- AUTONOMY -->
  <node name="frosty_node" pkg="frosty_autonomy" type="frosty" />
</launch>