<launch>
    <!-- URDF stuff -->
    <arg name="test_urdf" value="true" />
    <arg name="fixed_central_drive" default="true" />
    <include file="$(find description)/launch/load_robot_and_arena.launch" pass_all_args="true" />
    <arg name="source_list" default="[bucket_joint_states]"/>

    <!-- Tracker detector -->
    <node pkg="tracker" name="tracker_node" type="tracker_node" output="screen"/>
    
    <!-- Avoid slowing down tracker nodes with image compression -->
    <!--<node pkg="image_transport" name="tracker0_republisher"
          type="republish" output="screen"
          args="raw in:=/tracker0/image compressed out:=/tracker0/reimage" />
    <node pkg="image_transport" name="tracker1_republisher"
          type="republish" output="screen"
          args="raw in:=/tracker1/image compressed out:=/tracker1/reimage" />-->
</launch>