<launch>
    <node pkg="tracker" name="tracker" type="tracker_node" output="screen" >
        <!-- both -->
        <param name="max_initialization_velocity" type="double" value="0.3" />
        <param name="max_scan_velocity"           type="double" value="0.1" />
        <param name="max_velocity"                type="double" value="0.15" />
        <param name="k"                           type="double" value="4.0" />
        <param name="brightness"                  type="int"    value="54" />
        <param name="exposure"                    type="int"    value="89" />
        <!-- left -->
        <param name="left/stepper_controller_id"  type="int"    value="1" />
        <param name="left/stepper_client_id"      type="int"    value="3" />
        <!-- right -->
        <param name="right/stepper_controller_id" type="int"    value="2" />
        <param name="right/stepper_client_id"     type="int"    value="4" />
    </node>

    
    <!-- Avoid slowing down tracker nodes with image compression -->
    <!--<node pkg="image_transport" name="tracker0_republisher"
          type="republish" output="screen"
          args="raw in:=/tracker0/image compressed out:=/tracker0/reimage" />
    <node pkg="image_transport" name="tracker1_republisher"
          type="republish" output="screen"
          args="raw in:=/tracker1/image compressed out:=/tracker1/reimage" />-->
</launch>