<?xml version="1.0"?>
<robot name="arena">
    <link name="map">
        <visual>
            <geometry>
                <mesh filename="package://description/meshes/arena.dae" />
            </geometry>
            <!--<origin xyz="3.695 0 -0.61" rpy="0 0 -${pi/2}"/>-->
            <origin xyz="${1.9} 3.695 -0.61" rpy="0 0 0"/>

        </visual>
    </link>
</robot>