<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Define materials -->
    <material name="brown">
        <color rgba="0.45 0.45 0.28 1"/>
    </material>

    <material name="orange">
        <color rgba="0.5 0.24 0.00 1"/>
    </material>

    <material name="green">
        <color rgba="0.24 0.34 0.00 1"/>
    </material>

    <material name="black">
        <color rgba="0.30 0.30 0.30 1"/>
    </material>

    <material name="grey">
        <color rgba="0.70 0.70 0.70 1"/>
    </material>

    <material name="gold">
        <color rgba="0.85490196078 0.64705882352 0.12549019607 1"/>
    </material>

    <!-- Define linkages and joints -->
    <link name="base_link" />
        <!--<visual>
            <geometry>
                <box size="0.001 0.001 0.001" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="orange" />
        </visual>
        <collision>
            <geometry>
                <box size="0.001 0.001 0.001" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
    </link>-->

    <link name="frame">
        <visual>
            <geometry>
                <mesh filename="package://description/meshes/frame.stl" />
            </geometry>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
            <material name="grey" />
        </visual>
    </link>

    <joint name="base_link_to_frame" type="fixed">
        <parent link="base_link"/>
        <child link="frame"/>
        <origin xyz="-387.35e-3 0 2.0796e-01" rpy="0 0 0" />
    </joint>

    <xacro:macro name="wheel" params="x_name y_name rot y_dir xdist color">
        <link name="${x_name}_${y_name}_wheel">
            <visual>
                <geometry>
                    <mesh filename="package://description/meshes/wheel.stl" />
                </geometry>
                <origin xyz="0 0 0" rpy="${rot} 0 0"/>
                <material name="${color}"/>
            </visual>
        </link>

        <joint name="frame_to_${x_name}_${y_name}_wheel" type="fixed">
            <parent link="frame"/>
            <child link="${x_name}_${y_name}_wheel"/>
            <origin xyz="${xdist} ${y_dir*0.3109468} -0.0555752" />
            <axis xyz="0 1 0"/>
            <limit effort="1000.0" lower="-1e9" upper="1e9" velocity="1000.0"/>
        </joint>
    </xacro:macro>
    <xacro:wheel x_name="front" y_name="left"  rot="${-pi/2}" y_dir="1"  xdist="0.73025" color="gold"   />
    <xacro:wheel x_name="front" y_name="right" rot="${pi/2}"  y_dir="-1" xdist="0.73025" color="gold" />
    <xacro:wheel x_name="back"  y_name="left"  rot="${-pi/2}" y_dir="1"  xdist="0.0455676" color="gold"   />
    <xacro:wheel x_name="back"  y_name="right" rot="${pi/2}"  y_dir="-1" xdist="0.0455676" color="gold" />

    <link name="central_drive">
        <visual>
            <geometry>
                <mesh filename="package://description/meshes/central_drive.stl" />
            </geometry>
            <origin xyz="0.1121664 -0.098425 -0.05715" rpy="0 ${pi/2} ${pi}" />
            <material name="black" />
        </visual>
    </link>

    <joint name="frame_to_central_drive" type="fixed">
        <parent link="frame"/>
        <child link="central_drive"/>
        <origin xyz="0.5291836 0.0 0.079375" rpy="0 0 0" />
    </joint>

    <link name="computer_box">
        <visual>
            <geometry>
                <mesh filename="package://description/meshes/box.stl" />
            </geometry>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
            <material name="grey" />
        </visual>
    </link>

    <joint name="frame_to_computer_box" type="fixed">
        <parent link="frame"/>
        <child link="computer_box"/>
        <origin xyz="0.858774 -0.093726 0.132461" rpy="0 0 0" />
    </joint>

    <link name="zr300_dynamixel">
        <visual>
            <geometry>
                <mesh filename="package://description/meshes/zr300_dynamixel.stl" />
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0 ${-pi/2} ${-pi/2}" />
            <material name="black" />
        </visual>
    </link>

    <joint name="computer_box_to_zr300_dynamixel" type="fixed">
        <parent link="computer_box"/>
        <child link="zr300_dynamixel"/>
        <origin xyz="0.0450596 0.0436118 0.0316484" rpy="0 0 0" />
    </joint>

    <link name="zr300_mount">
        <visual>
            <geometry>
                <mesh filename="package://description/meshes/zr300_mount.stl" />
            </geometry>
            <origin xyz="-11.494727e-3 -11.494727e-3 -0.0322072" rpy="0 ${-pi/2} ${-pi/4}" />
            <material name="grey" />
        </visual>
    </link>

    <joint name="zr300_dynamixel_to_zr300_mount" type="fixed">
        <parent link="zr300_dynamixel"/>
        <child link="zr300_mount"/>
        <origin xyz="0.016256 0 0.0322072" rpy="0 0 0" />
        <axis xyz="0 0 1" />
        <limit effort="1000.0" lower="${-pi}" upper="${pi}" velocity="1000.0"/>
    </joint>

    <link name="zr300_mount_2">
        <visual>
            <geometry>
                <mesh filename="package://description/meshes/zr300_mount_2.stl" />
            </geometry>
            <origin xyz="-23.367e-3 52.793e-3 17.233e-3" rpy="${pi/2} 0 ${pi/2}" />
            <material name="grey" />
        </visual>
    </link>

    <joint name="zr300_mount_to_zr300_mount_2" type="fixed">
        <parent link="zr300_mount"/>
        <child link="zr300_mount_2"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <xacro:include filename="$(find realsense_ros_camera)/urdf/_zr300.urdf.xacro"/>
    <sensor_zr300 parent="zr300_mount_2">
        <origin xyz="0 0 15.5e-3" rpy="0 0 0"/>
    </sensor_zr300>

    <link name="battery_box">
        <visual>
            <geometry>
                <mesh filename="package://description/meshes/box.stl" />
            </geometry>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
            <material name="grey" />
        </visual>
    </link>

    <joint name="frame_to_battery_box" type="fixed">
        <parent link="frame"/>
        <child link="battery_box"/>
        <origin xyz="0.858774 0.093726 0.132461" rpy="0 0 0" />
    </joint>

    <!-- Add a few static transforms for testing -->
    <xacro:arg name="test_urdf" default="false"/>
    <xacro:if value="$(arg test_urdf)">
        <link name="map" />
        <joint name="map_to_base_link" type="fixed">
            <parent link="map"/>
            <child link="base_link"/>
            <origin xyz="1.5 -0.5 0" rpy="0 0 ${-pi/8}" />
        </joint>
    </xacro:if>
</robot>


