<launch>
  <!--
    1. Loads the urdfs for the robot and the arena
    2. Publishes all joint state based tfs for the robot and arena
    3. Publishes the joint states that map from other joint states
      - Backhoe to bucket
      - Monoboom linear actuator to backhoe curl
  -->
  <arg name="test_urdf" default="false" />
  <arg name="fixed_central_drive" default="false" />
  <arg name="fixed_drivetrains" default="false" />
  <arg name="fixed_nodeys" default="false" />
  <param name="arena_description" command="$(find xacro)/xacro --inorder $(find description)/urdf/arena.urdf" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find description)/urdf/robot.urdf
                                            test_urdf:=$(arg test_urdf)
                                            fixed_central_drive:=$(arg fixed_central_drive)
                                            fixed_drivetrains:=$(arg fixed_drivetrains)
                                            fixed_nodeys:=$(arg fixed_nodeys)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="ignore_timestamp" type="bool" value="true" />
  </node>
  <node name="arena_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <remap from="robot_description" to="arena_description" />
    <remap from="joint_states" to="null_joint_states" />
  </node>

</launch>
