<launch>
    <arg name="full_autonomy" default="true" />
    <node pkg="competition" name="competition_controller" type="competition_node" output="screen" >
        <rosparam file="$(find competition)/config/track_config.yaml" />
        <param name="rate" type="double" value="50.0" />
        <param name="full_autonomy" type="bool" value="$(arg full_autonomy)" />
    </node>
</launch>