<launch>
  <arg name="manager" default="realsense_ros_camera_manager"/>

  <include file="$(find realsense_ros_camera)/launch/camera.launch">
    <arg name="manager" value="$(arg manager)"/>
    <arg name="depth_width" value="320"/>
    <arg name="depth_height" value="240"/>
    <arg name="color_width" value="320"/>
    <arg name="color_height" value="240"/>
    <arg name="enable_depth" value="true"/>
    <arg name="enable_color" value="false"/>
  </include>

  <node pkg="nodelet" type="nodelet" name="man" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="rec" args="load image_proc/rectify /man" ns="/camera/depth">
    <remap from="image_mono" to="image_raw"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="pclxyz" args="load depth_image_proc/point_cloud_xyz /man" ns="/camera/depth" />
</launch>
