<launch>
    <arg name="full_autonomy" default="true" />
    <arg name="voltage_compensation" default="true" />
    <include file="$(find description)/launch/load_robot_and_arena.launch" />
    <include file="$(find tracker)/launch/tracker.launch" />
    <include file="$(find waypoint_control)/launch/waypoint_control.launch">
        <arg name="full_autonomy" value="$(arg full_autonomy)" />
        <arg name="voltage_compensation" value="$(arg voltage_compensation)" />
    </include>
    <include file="$(find dig_control)/launch/dig_control.launch">
        <arg name="full_autonomy" value="$(arg full_autonomy)" />
        <arg name="voltage_compensation" value="$(arg voltage_compensation)" />
        <arg name="floor_test" value="false" />
    </include>
    <include file="$(find competition)/launch/competition.launch">
        <arg name="full_autonomy" value="$(arg full_autonomy)" />
    </include>
    <node name="localization_node" pkg="localization" type="ultra_localizer_node" output="screen" />
</launch>